@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
}

.bubble {
  position: absolute;
  bottom: -100px;
  background: rgba(1, 191, 254, 0.2);
  border-radius: 50%;
  pointer-events: none;
  -webkit-animation: rise 10s linear infinite;
          animation: rise 10s linear infinite;
  z-index: 100;
}

@-webkit-keyframes rise {
  0% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-120vh) scale(1.5);
            transform: translateY(-120vh) scale(1.5);
    opacity: 0;
  }
}

@keyframes rise {
  0% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-120vh) scale(1.5);
            transform: translateY(-120vh) scale(1.5);
    opacity: 0;
  }
}
html {
  font-family: "Josefin Sans", "Zen Kaku Gothic New", sans-serif;
  font-size: 62.5%;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.jpborderbace-white, .address .address__btnlist a, main .MV h2, main .fixbox span, header .topnav .topnav__navlist .header__btngroup .header__btngroup--item, header .topnav .topnav__navlist .header__navgroup .header__navgroup--group h5 {
  color: white;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
}

.jpborderbace-main, .last ul li h4, .address .address__info .ddress__smalltitle, main .howtoenjoy .howtoenjoy__list ul .howtoenjoy__list--item span, main .MV__infobox, footer .footer__top .footer__btngroup .footer__btngroup--item a, header .topnav .topnav__navlist .topnav__navlist--ticket span {
  color: #0887A0;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
}

.title {
  font-family: "Josefin Sans";
  font-size: 4.8rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#55B3D9), color-stop(30%, #55B3D9), color-stop(31%, #0887A0), to(#0887A0));
  background: linear-gradient(180deg, #55B3D9 0%, #55B3D9 30%, #0887A0 31%, #0887A0 100%);
  background: -webkit-linear-gradient(-90deg, #55B3D9 0%, #55B3D9 30%, #0887A0 31%, #0887A0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.no-scroll {
  overflow: hidden;
}

.subtitle {
  font-size: 1.6rem;
  color: #0887A0;
  text-align: center;
}

.languageset.is-active .select {
  display: block;
}

.select {
  display: none;
  padding: 8px 20px;
  border: 2px solid #D5E7F2;
  background: #D5E7F2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 28px;
  margin: 4px 0px auto auto;
}
.select:hover {
  border: 2px solid #D5E7F2;
}
.select:focus {
  border: 2px solid #D5E7F2;
}

header .topnav .topnav__navlist .topnav__navlist--ticket {
  background-color: white;
  border-radius: 10px;
}

@media screen and (min-width: 769px) {
  .title {
    font-size: 6.4rem;
  }
  .subtitle {
    font-size: 2rem;
  }
}
.category-event {
  color: #0468BF;
  border: 2px solid #0468BF;
}

.category-notice {
  color: #0887A0;
  border: 2px solid #0887A0;
}

.category-important {
  color: #F25F33;
  border: 2px solid #F25F33;
}

header {
  position: relative;
}
header h1 {
  opacity: 0;
  z-index: -1;
  position: absolute;
}
header .topnav {
  height: 78px;
}
header .topnav .topnav__heater {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 5%;
}
header .topnav .topnav__heater .topnavi__logo {
  height: 54px;
  width: auto;
}
header .topnav .topnav__heater .topnav__navlist--top {
  display: none;
}
header .topnav .topnav__heater .topnav__navhanbergar {
  cursor: pointer;
}
header .topnav .topnav__heater .topnav__navhanbergar .topnav__line {
  display: block;
  width: 40px;
  height: 3px;
  border-radius: 2px;
  background-color: #0887A0;
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  margin-top: 12px;
}
header .topnav .topnav__heater .topnav__navhanbergar.is-active {
  /* 3. 將第三條線移動到中心並旋轉 */
}
header .topnav .topnav__heater .topnav__navhanbergar.is-active .topnav__line:nth-child(1) {
  -webkit-transform: translateY(15px) rotate(45deg);
          transform: translateY(15px) rotate(45deg);
}
header .topnav .topnav__heater .topnav__navhanbergar.is-active .topnav__line:nth-child(2) {
  opacity: 0;
}
header .topnav .topnav__heater .topnav__navhanbergar.is-active .topnav__line:nth-child(3) {
  -webkit-transform: translateY(-15px) rotate(-45deg);
          transform: translateY(-15px) rotate(-45deg);
}
header .topnav .topnav__navlist {
  position: absolute;
  z-index: 500;
  background: -webkit-gradient(linear, left top, left bottom, from(#0887A0), to(#55B3D9));
  background: linear-gradient(#0887A0, #55B3D9);
  height: 100vh;
  padding: 5%;
  width: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  top: 78px;
  left: 0;
}
header .topnav .topnav__navlist .topnav__navlist--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .topnav .topnav__navlist .topnav__navlist--top .topnav__language {
  color: white;
  font-size: 2rem;
}
header .topnav .topnav__navlist .topnav__navlist--top .topnav__language .topnav__language--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  cursor: pointer;
}
header .topnav .topnav__navlist .topnav__navlist--top .search-form {
  padding: 5px 10px;
  border-radius: 30px;
  width: 180px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  font-size: 15px;
}
header .topnav .topnav__navlist .topnav__navlist--top .search-form .search-input {
  border: none;
  background: none;
  outline: none;
  width: 180px;
  height: 44px;
  color: white;
}
header .topnav .topnav__navlist .topnav__navlist--top .search-form .search-button {
  border: none;
  background: none;
  outline: none;
  color: #0887A0;
  font-weight: 700;
  font-family: "Font Awesome 5 Free";
  font-size: 24px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  cursor: pointer;
}
header .topnav .topnav__navlist .topnav__navlist--top .search-form .search-button:hover {
  color: #55B3D9;
}
header .topnav .topnav__navlist .topnav__navlist--ticket {
  height: 62px;
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
header .topnav .topnav__navlist .topnav__navlist--ticket span {
  font-size: 2rem;
}
header .topnav .topnav__navlist .topnav__navlist--ticket img,
header .topnav .topnav__navlist .topnav__navlist--ticket i {
  height: 34px;
  width: auto;
}
header .topnav .topnav__navlist:hover {
  background-color: #F7E22E;
}
header .topnav .topnav__navlist .header__navgroup {
  margin-top: 24px;
}
header .topnav .topnav__navlist .header__navgroup .header__navgroup--group {
  margin-top: 32px;
}
header .topnav .topnav__navlist .header__navgroup .header__navgroup--group h5 {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}
header .topnav .topnav__navlist .header__navgroup .header__navgroup--group h5::after {
  content: "⌄";
  text-align: center;
  color: #0887A0;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
}
header .topnav .topnav__navlist .header__navgroup .header__navgroup--group .header__navgroup--set {
  display: none;
  background-color: white;
  border-radius: 0 0 20px 20px;
  padding: 20px 6%;
  margin-top: 0px;
}
header .topnav .topnav__navlist .header__navgroup .header__navgroup--group .header__navgroup--line {
  height: 1px;
  width: auto;
  background-color: white;
  margin-top: 16px;
}
header .topnav .topnav__navlist .header__navgroup .header__navgroup--group .set1.active,
header .topnav .topnav__navlist .header__navgroup .header__navgroup--group .set2.active,
header .topnav .topnav__navlist .header__navgroup .header__navgroup--group .set3.active {
  display: block;
}
header .topnav .topnav__navlist .header__navgroup .header__navgroup--group .header__navgroup--set div {
  font-size: 1.6rem;
  margin-bottom: 16px;
}
header .topnav .topnav__navlist .header__navgroup .header__navgroup--group .header__navgroup--set div::before {
  content: "▸";
  color: #0887A0;
  font-size: 20px;
  margin-right: 8px;
}
header .topnav .topnav__navlist .header__navgroup .header__navgroup--group .header__navgroup--set div a {
  color: #0887A0;
}
header .topnav .topnav__navlist .header__btngroup {
  height: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin-top: 28px;
}
header .topnav .topnav__navlist .header__btngroup .header__btngroup--item {
  font-size: 1.6rem;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  padding: 12px;
}
header .topnav .topnav__navlist .header__btngroup .header__btngroup--item a {
  color: #0887A0;
}
header .topnav .topnav__navlist .header__btngroup .header__btngroup--item a i {
  display: block;
  font-size: 3rem;
  text-align: center;
  margin: auto auto 0px;
}
header .topnav .topnav__navlist .topnav__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 28px;
}
header .topnav .topnav__navlist .topnav__sns a {
  color: white;
  font-size: 2rem;
}
header .topnav__navlist.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

@media screen and (min-width: 769px) {
  header {
    max-width: 1440px;
    margin: 0px auto;
  }
  header .topnav {
    height: 120px;
  }
  header .topnav .topnav__heater {
    padding: 36px 5%;
  }
  header .topnav .topnav__heater .topnavi__logo {
    height: 56px;
  }
  header .topnav .topnav__heater .topnav__navhanbergar {
    display: none;
  }
  header .topnav .topnav__heater .topnav__navlist--top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .topnav .topnav__heater .topnav__navlist--top .topnav__language {
    color: #0887A0;
    font-size: 2rem;
    margin-left: 34px;
  }
  header .topnav .topnav__heater .topnav__navlist--top .topnav__language.is-active .select {
    display: block;
  }
  header .topnav .topnav__heater .topnav__navlist--top .topnav__language .select {
    display: none;
  }
  header .topnav .topnav__heater .topnav__navlist--top .topnav__language .topnav__language--title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 12px;
    cursor: pointer;
  }
  header .topnav .topnav__heater .topnav__navlist--top .topnav__language .topnav__language--title label {
    margin-left: 4px;
  }
  header .topnav .topnav__heater .topnav__navlist--top .search-form {
    width: 220px;
    max-width: 100%;
    font-size: 15px;
    border: 2px solid #0887A0;
    border-radius: 22px;
  }
  header .topnav .topnav__heater .topnav__navlist--top .search-form .search-input {
    border: auto;
    background: none;
    outline: none;
    width: 180px;
    height: 44px;
  }
  header .topnav .topnav__heater .topnav__navlist--top .search-form .search-button {
    border: none;
    background: none;
    outline: none;
    color: #0887A0;
    font-weight: 700;
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    -webkit-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
    cursor: pointer;
  }
  header .topnav .topnav__heater .topnav__navlist--top .search-form .search-button:hover {
    color: #55B3D9;
  }
}
footer {
  position: relative;
}
footer .footer__top {
  position: relative;
  background-image: url(../img/shui-zhongwo-yongku-yuno-tiaome.jpg);
  background-size: cover;
  padding: 70px 0px 50px;
}
footer .footer__top .footer__topwave.pc {
  display: none;
}
footer .footer__top .footer__topwave {
  position: absolute;
  top: -1px;
}
footer .footer__top .footer__back {
  position: absolute;
}
footer .footer__top .footer__back.left {
  height: 65px;
  width: auto;
  left: 5%;
  top: -40px;
}
footer .footer__top .footer__back.right {
  height: 83px;
  width: auto;
  right: 5%;
  top: 0px;
}
footer .footer__top .footer__navgroup {
  color: white;
  margin: 86px 0px 0px 5%;
}
footer .footer__top .footer__navgroup div {
  margin-bottom: 40px;
}
footer .footer__top .footer__navgroup div h5 {
  font-size: 2rem;
  margin-bottom: 16px;
}
footer .footer__top .footer__navgroup div span {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 16px;
}
footer .footer__top .footer__navgroup div span a {
  color: white;
}
footer .footer__top .footer__btngroup {
  padding: 0px 5%;
}
footer .footer__top .footer__btngroup .footer__btngroup--item {
  background-color: white;
  height: 106px;
  margin-bottom: 24px;
  border-radius: 10px;
  padding-top: 12px;
}
footer .footer__top .footer__btngroup .footer__btngroup--item a div {
  font-size: 2.4rem;
  text-align: center;
}
footer .footer__top .footer__btngroup .footer__btngroup--item a i {
  display: block;
  font-size: 3.2rem;
  margin: 12px auto 0px;
}
footer .footer__top .footer__bottomwave {
  position: absolute;
  bottom: -1px;
}
footer .footer__bottom {
  padding: 32px 5% 20px;
}
footer .footer__bottom .footer__bottom--logo {
  height: 54px;
  margin-bottom: 16px;
}
footer .footer__bottom .footer__bottom--txt {
  font-size: 1.6rem;
  text-align: center;
}
footer .footer__bottom .footer__bottom--txt div {
  margin-bottom: 8px;
}
footer .footer__bottom .footer__bottom--line {
  height: 1px;
  width: auto;
  background-color: #0887A0;
  display: block;
  margin-top: 40px;
}
footer .footer__bottom .footer__bottom--links .footer__bottom--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 28px;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 1.6rem;
  color: #0887A0;
  font-weight: 500;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer__bottom .footer__bottom--links .footer__language {
  color: #0887A0;
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
}
footer .footer__bottom .footer__bottom--links .footer__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
footer .footer__bottom .footer__bottom--links .footer__sns a {
  color: #0887A0;
  font-size: 2rem;
}
footer .footer__bottom small {
  text-align: center;
  display: block;
  margin-top: 20px;
  font-size: 1.4rem;
}

@media screen and (min-width: 769px) {
  footer .footer__top {
    padding: 197px 0px 50px;
  }
  footer .footer__top .footer__topwave.sp {
    display: none;
  }
  footer .footer__top .footer__topwave.pc {
    display: block;
  }
  footer .footer__top .footer__back.left {
    height: 110px;
    top: -50px;
  }
  footer .footer__top .footer__back.right {
    height: 194px;
    top: -100px;
  }
  footer .footer__top .footer__navgroup {
    max-width: 1440px;
    margin: 30px auto 0px;
    padding: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 124px;
  }
  footer .footer__top .footer__navgroup div {
    margin-bottom: auto;
  }
  footer .footer__top .footer__navgroup div h5 {
    font-size: 2rem;
    margin-bottom: 32px;
  }
  footer .footer__top .footer__navgroup div span {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  footer .footer__top .footer__btngroup {
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 32px;
  }
  footer .footer__top .footer__btngroup .footer__btngroup--item {
    height: 142px;
    margin-bottom: 100px;
    padding-top: 24px;
    width: 100%;
  }
  footer .footer__top .footer__btngroup .footer__btngroup--item a div {
    font-size: 3.2rem;
    text-align: center;
  }
  footer .footer__top .footer__btngroup .footer__btngroup--item a i {
    display: block;
    font-size: 4rem;
    margin: 12px auto 0px;
  }
  footer .footer__bottom {
    padding-bottom: 25px;
  }
  footer .footer__bottom .footer__bottom--info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
    margin: 60px auto 58px;
  }
  footer .footer__bottom .footer__bottom--info .footer__bottom--logo {
    height: 56px;
  }
  footer .footer__bottom .footer__bottom--info .footer__bottom--txt {
    text-align: left;
    font-size: 2rem;
  }
  footer .footer__bottom .footer__bottom--info .spbr {
    display: none;
  }
  footer .footer__bottom .footer__bottom--links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 44px;
    margin-top: 44px;
  }
  footer .footer__bottom .footer__bottom--links .footer__bottom--list {
    margin-top: 0px;
    font-size: 2rem;
    gap: 45px;
  }
  footer .footer__bottom .footer__bottom--links .footer__language {
    font-size: 2.4rem;
    text-align: center;
    margin-top: 0px;
  }
  footer .footer__bottom .footer__bottom--links .footer__sns {
    margin-top: 0px;
    gap: 20px;
  }
  footer .footer__bottom small {
    margin-top: 50px;
    font-size: 1.8rem;
  }
}
main {
  overflow: hidden;
}
main .fixbox {
  background-color: #0887A0;
  border-radius: 30px 0 0 30px;
  width: 70px;
  height: 110px;
  padding-top: 20px;
  position: fixed;
  right: 0;
  top: 200px;
  z-index: 300;
}
main .fixbox img {
  height: 34px;
  margin-bottom: 4px;
}
main .fixbox span {
  font-size: 1.4rem;
  text-align: center;
  display: block;
}
main .MV {
  height: 516px;
  position: relative;
}
main .MV h2 {
  font-size: 2.4rem;
  position: absolute;
  z-index: 100;
  text-shadow: 1px 1px 2px black;
  top: 60px;
  left: 50px;
}
main .MV__infobox {
  position: absolute;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 16px;
  right: 46px;
  bottom: 68px;
}
main .MV__infobox .MV__infobox--topbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .MV__infobox .MV__infobox--date {
  font-size: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .MV__infobox .MV__infobox--date .month {
  display: inline-block;
  margin-bottom: 30px;
}
main .MV__infobox .MV__infobox--date .date {
  margin-top: 30px;
}
main .MV__infobox .MV__infobox--date .separate {
  height: 52px;
  width: 2px;
  background-color: #0887A0;
  display: inline-block;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
main .MV__infobox .MV__infobox--line {
  width: 2px;
  height: auto;
  background-color: #0887A0;
  margin: 0 8px;
  display: block;
}
main .MV__infobox .MV__infobox--nowinfo .MV__infobox--nowinfo-timetitle {
  font-size: 1.4rem;
}
main .MV__infobox .MV__infobox--nowinfo .MV__infobox--nowinfo-timeinfo {
  font-size: 2rem;
}
main .MV__infobox .MV__infobox--nowinfo-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
}
main .MV__infobox .MV__infobox--btn {
  color: white;
  background: -webkit-gradient(linear, right top, left top, from(#0887A0), to(#55B3D9));
  background: linear-gradient(to left, #0887A0, #55B3D9);
  border-radius: 10px;
  height: 48px;
  padding: 12px;
  font-size: 1.6rem;
  margin-top: 8px;
  text-align: center;
}
main .MV__imgbox--front {
  z-index: 100;
  bottom: 0px;
  position: absolute;
  bottom: -1px;
}
main .PCfr {
  display: none;
}
main .MV__imgbox {
  height: 516px;
  position: absolute;
  left: 5%;
  right: 5%;
}
main .MV__imgbox .MV__imgbox--front {
  position: absolute;
}
main .MV__imgbox .MV__imgbox--main {
  position: absolute;
  height: 516px;
  bottom: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px 30px 0 0;
  width: 100%;
}
main .bottomnav {
  display: none;
}
main .pickup {
  padding-left: 5%;
}
main .pickup .pickup__info--wave {
  height: 60px;
}
main .pickup .pickup__info--turnbtns {
  display: none;
}
main .pickup .pickup__contects {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
main .pickup .pickup__contects li a {
  color: black;
}
main .pickup .pickup__contects li a .date {
  font-size: 1.6rem;
  font-family: "Josefin Sans";
}
main .pickup .pickup__contects li a .category {
  font-size: 1.4rem;
  font-weight: 700;
  border: 2px solid;
  border-radius: 14px;
  padding: 2px 20px;
}
main .pickup .pickup__contects li a .pickup__contects--title {
  font-size: 1.6rem;
  font-family: "Zen Kaku Gothic New", sans-serif;
  margin-top: 8px;
}
main .pickup .pickup__contects li a .pickup__contects--imgset {
  position: relative;
  margin-top: 12px;
}
main .pickup .pickup__contects li a .pickup__contects--imgset span {
  position: absolute;
  color: white;
  z-index: 200;
}
main .pickup .pickup__contects li a .pickup__contects--imgset .pickup__contects--go {
  background-color: #0887A0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  font-size: 3.2rem;
  text-align: center;
  line-height: 54px;
  right: -10px;
  bottom: 24px;
}
main .pickup .pickup__contects li a .pickup__contects--imgset .pickup__contects--txt {
  bottom: 8px;
  left: 16px;
  font-size: 1.6rem;
  font-family: "Zen Kaku Gothic New", sans-serif;
  width: 180px;
}
main .pickup .pickup__contects li a .pickup__contects--imgset .pickup__contects--cover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.9) 100%);
  position: absolute;
  z-index: 100;
  width: 248px;
  height: 288px;
  border-radius: 30px;
}
main .pickup .pickup__contects li a .pickup__contects--imgset .pickup__contects--img {
  width: 248px;
  height: 288px;
  border-radius: 30px;
}
main .news {
  margin-top: 38px;
  padding: 0 5% 68px;
}
main .news ul {
  margin-top: 38px;
}
main .news ul li {
  margin-bottom: 16px;
}
main .news ul li::after {
  content: " ";
  width: auto;
  height: 1px;
  background-color: #55B3D9;
  display: block;
  margin-top: 16px;
}
main .news ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}
main .news ul li a .date {
  font-family: "Josefin Sans";
  font-size: 1.6rem;
  margin-right: 8px;
}
main .news ul li a .category {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 4px 8px;
  border: 2px solid;
  border-radius: 14px;
}
main .news ul li a h4 {
  font-size: 1.6rem;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  margin-top: 16px;
}
main .news ul li a .news__contects--next {
  background-image: url(../img/fishnext-normal.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 46px;
  height: 28px;
  margin-right: 12px;
}
main .news ul li a .news__contects--next:hover {
  background-image: url(../img/fishnext-hover.svg);
  margin-right: 0px;
}
main .news .news__btn {
  color: white;
  padding: 10px 26px;
  background: -webkit-gradient(linear, left top, right top, from(#0887A0), to(#55B3D9));
  background: linear-gradient(to right, #0887A0, #55B3D9);
  border-radius: 32px;
  font-size: 1.6rem;
  width: 250px;
  margin: 26px auto;
}
main .news .news__btn a {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .news .news__btn a i {
  color: #0887A0;
  background-color: white;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  line-height: 42px;
}
main .news .news__background {
  display: none;
}
main .howtoenjoy {
  background: -webkit-gradient(linear, left top, left bottom, from(#D5E7F2), to(#FFF8C0));
  background: linear-gradient(#D5E7F2, #FFF8C0);
  position: relative;
  padding: 136px 0 116px;
}
main .howtoenjoy h3 {
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
main .howtoenjoy .howtoenjoy__list ul .howtoenjoy__list--item {
  position: relative;
}
main .howtoenjoy .howtoenjoy__list ul .howtoenjoy__list--item span {
  font-size: 3.2rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  background-color: white;
  padding: 4px;
  position: absolute;
  left: 50%;
  top: -16px;
  -webkit-transform: translateX(-250%);
          transform: translateX(-250%);
}
main .howtoenjoy .howtoenjoy__list ul .howtoenjoy__list--item img {
  height: 362px;
}
main .aquariumcreatures {
  padding: 28px 5%;
  background-image: url(../img/backwave.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
main .aquariumcreatures .aquariumcreatures__info--wave {
  height: 60px;
}
main .aquariumcreatures .aquariumcreatures__circle-layout {
  position: relative;
  /* 關鍵：所有子元素將以此為基準點定位 */
  width: 320px;
  /* 根據設計稿，設定一個適合手機版的大小 */
  height: 320px;
  margin: 40px auto;
}
main .aquariumcreatures .aquariumcreatures__circle-layout .aquariumcreatures__main-itemset {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  /* 根據視覺調整主圖位置 */
  left: 50%;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
  position: absolute;
}
main .aquariumcreatures .aquariumcreatures__circle-layout .aquariumcreatures__main-itemset::after {
  content: " ";
  display: block;
  background-color: #0887A0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -100;
  position: absolute;
  top: 0px;
}
main .aquariumcreatures .aquariumcreatures__circle-layout .aquariumcreatures__main-itemset img:hover {
  opacity: 0.3;
}
main .aquariumcreatures .aquariumcreatures__circle-layout .aquariumcreatures__item--txt {
  color: white;
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: none;
  z-index: 100;
  pointer-events: none;
}
main .aquariumcreatures .aquariumcreatures__circle-layout .aquariumcreatures__item--txt.is-active {
  display: block;
}
main .aquariumcreatures .aquariumcreatures__list {
  position: absolute;
  top: 50%;
  left: 50%;
  /* 讓 ul 本身置中，但不會影響子元素的定位計算 */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
main .aquariumcreatures .aquariumcreatures__list .aquariumcreatures__item {
  position: absolute;
  /* 讓每個 li 可以獨立定位 *
  /* 小圓圖的尺寸 */
  background-color: #0887A0;
  border-radius: 50%;
  overflow: hidden;
}
main .aquariumcreatures .aquariumcreatures__list .aquariumcreatures__item img:hover {
  opacity: 0.3;
}
main .aquariumcreatures .aquariumcreatures__list .aquariumcreatures__item::after {
  content: " ";
  display: block;
  background-color: #0887A0;
  width: 100%;
  height: 100%;
}
main .aquariumcreatures .aquariumcreatures__list .aquariumcreatures__item.small1 {
  width: 100px;
  height: 100px;
  left: -190px;
  bottom: -165px;
}
main .aquariumcreatures .aquariumcreatures__list .aquariumcreatures__item.small2 {
  width: 70px;
  height: 70px;
  left: -90px;
  bottom: -200px;
}
main .aquariumcreatures .aquariumcreatures__list .aquariumcreatures__item.small3 {
  width: 70px;
  height: 70px;
  left: -5px;
  bottom: -185px;
}
main .aquariumcreatures .aquariumcreatures__list .aquariumcreatures__item.small4 {
  width: 70px;
  height: 70px;
  left: 70px;
  bottom: -130px;
}
main .aquariumcreatures .aquariumcreatures__list .aquariumcreatures__item.small5 {
  width: 50px;
  height: 50px;
  left: 110px;
  bottom: -50px;
}
main .aquariumcreatures__pcbtn {
  display: none;
}
main a {
  color: white;
  font-family: "Zen Kaku Gothic New", sans-serif;
  line-height: 1.2;
}
main a .aquariumcreatures__info--btn {
  width: 114px;
  height: 114px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#0887A0), to(#55B3D9));
  background: linear-gradient(to right, #0887A0, #55B3D9);
  border: 10px solid #D5E7F2;
  text-align: center;
  padding: 8px;
  margin: auto 0 auto auto;
}
main a .aquariumcreatures__info--btn .nor {
  font-size: 1.6rem;
}
main a .aquariumcreatures__info--btn .big {
  font-size: 2.8rem;
}
main a .aquariumcreatures__info--btn i {
  font-size: 2.8rem;
}

.address .address__wave {
  height: 40px;
}
.address .address__info {
  text-align: center;
  margin: 40px auto;
  padding: 0px 5%;
}
.address .address__info .ddress__smalltitle {
  font-size: 1.6rem;
  margin-bottom: 8px;
}
.address .address__info .place {
  margin-bottom: 40px;
}
.address .address__info .place span {
  font-size: 1.4rem;
}
.address .address__info .tel span {
  font-size: 3.2rem;
}
.address .address__map iframe {
  height: 240px;
}
.address .address__btnlist {
  margin-top: 48px;
}
.address .address__btnlist a .address__btn {
  background: -webkit-gradient(linear, left top, right top, from(#0887A0), to(#55B3D9));
  background: linear-gradient(to right, #0887A0, #55B3D9);
  padding: 8px 26px;
  width: 316px;
  border-radius: 40px;
  margin: 0 auto 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.address .address__btnlist a .address__btn .address__btn--txt {
  font-size: 1.6rem;
  line-height: 58px;
}
.address .address__btnlist a .address__btn .address__btn--icon {
  font-size: 2.8rem;
  color: #0887A0;
  background-color: white;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: block;
  text-align: center;
}

.last {
  padding: 54px 5%;
}
.last ul li {
  height: 200px;
  width: 315px;
  border-radius: 20px;
  margin: 0 auto 20px;
  background-size: 100%;
}
.last ul li h4 {
  font-size: 2.4rem;
  margin-left: 12px;
}
.last ul li span {
  font-size: 2rem;
  color: #0887A0;
  width: 40px;
  height: 40px;
  border: 2px solid #0887A0;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 40px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 125px 0px 0px auto;
}
.last ul .last__shisetsu {
  background-image: url(../img/Subtract-1.png);
}
.last ul .last__event {
  background-image: url(../img/Subtract-2.png);
}
.last ul .last__kenkyu {
  background-image: url(../img/Subtract-3.png);
}

@media screen and (min-width: 769px) {
  main .fixbox {
    border-radius: 50px 0 0 50px;
    width: 100px;
    height: 156px;
    padding-top: 30px;
    top: 252px;
  }
  main .fixbox img {
    height: 44px;
    margin-bottom: 4px;
  }
  main .fixbox span {
    font-size: 1.8rem;
  }
  main .MV {
    height: 740px;
    max-width: 1440px;
    margin: 0px auto;
  }
  main .MV h2 {
    font-size: 5.4rem;
    top: auto;
    bottom: 150px;
    left: 135px;
  }
  main .MV__infobox {
    padding: 22px;
    right: 124px;
    bottom: 76px;
  }
  main .MV__infobox .MV__infobox--date {
    font-size: 4rem;
  }
  main .MV__infobox .MV__infobox--date .month {
    margin-bottom: 25px;
  }
  main .MV__infobox .MV__infobox--date .date {
    margin-top: 25px;
  }
  main .MV__infobox .MV__infobox--date .separate {
    height: 84px;
  }
  main .MV__infobox .MV__infobox--line {
    margin: 0 16px;
  }
  main .MV__infobox .MV__infobox--nowinfo .MV__infobox--nowinfo-timetitle {
    font-size: 1.8rem;
  }
  main .MV__infobox .MV__infobox--nowinfo .MV__infobox--nowinfo-timeinfo {
    font-size: 3.2rem;
  }
  main .MV__infobox .MV__infobox--nowinfo-people {
    font-size: 1.8rem;
  }
  main .MV__infobox .MV__infobox--btn {
    border-radius: 20px;
    height: 76px;
    padding: 24px;
    font-size: 2rem;
    margin-top: 16px;
  }
  main .MV__imgbox--front {
    z-index: 100;
    bottom: 0px;
    position: absolute;
    bottom: 20px;
    left: 5%;
    right: 5%;
  }
  main .PCfr {
    display: block;
  }
  main .SPfr {
    display: none;
  }
  main .MV__imgbox {
    height: 720px;
  }
  main .MV__imgbox .MV__imgbox--main {
    height: 720px;
    overflow: hidden;
    border-radius: 50px 50px 0 0;
    bottom: 0px;
  }
  main .bottomnav {
    display: block;
  }
  main .bottomnav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .bottomnav ul li {
    border-right: 1px solid #D5E7F2;
    width: 182px;
    font-size: 1.6rem;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 700;
    color: #0887A0;
    text-align: center;
    display: block;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  main .bottomnav ul li .bottomnav__img.ticket {
    background-image: url(../img/ion_ticket.svg);
  }
  main .bottomnav ul li .bottomnav__img.time {
    background-image: url(../img/time.svg);
  }
  main .bottomnav ul li .bottomnav__img.map {
    background-image: url(../img/mingmap-fill.svg);
  }
  main .bottomnav ul li .bottomnav__img.museum {
    background-image: url(../img/museum.svg);
  }
  main .bottomnav ul li .bottomnav__img.info {
    background-image: url(../img/ion_fish.svg);
  }
  main .bottomnav ul li .bottomnav__img.group {
    background-image: url(../img/lets-icons_group-fill.svg);
  }
  main .bottomnav ul li .bottomnav__img.question {
    background-image: url(../img/mingcute_question-fill.svg);
  }
  main .bottomnav ul li:last-child {
    border-right: none;
  }
  main .bottomnav ul li:hover {
    color: #55B3D9;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  main .bottomnav ul li:hover .bottomnav__img.ticket {
    background-image: url(../img/ion_ticket-hover.svg);
  }
  main .bottomnav ul li:hover .bottomnav__img.time {
    background-image: url(../img/mingcute_time-hover.svg);
  }
  main .bottomnav ul li:hover .bottomnav__img.map {
    background-image: url(../img/mingcute_map-hover.svg);
  }
  main .bottomnav ul li:hover .bottomnav__img.museum {
    background-image: url(../img/tdesign_museum-hover.svg);
  }
  main .bottomnav ul li:hover .bottomnav__img.info {
    background-image: url(../img/ion_fish-hover.svg);
  }
  main .bottomnav ul li:hover .bottomnav__img.group {
    background-image: url(../img/lets-icons_group-hover.svg);
  }
  main .bottomnav ul li:hover .bottomnav__img.question {
    background-image: url(../img/mingcute_question-hover.svg);
  }
  main .bottomnav ul li .bottomnav__img {
    height: 48px;
    width: 48px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px auto 12px;
  }
  .pickup {
    max-width: 1440px;
    margin: 0px auto;
    padding: 60px 5% 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pickup .pickup__info--wave {
    height: 90px;
    width: 90px;
    margin-top: 24px;
  }
  .pickup .title,
  .pickup .subtitle {
    text-align: left;
  }
  .pickup .pickup__info--turnbtns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 54px;
    margin-top: 118px;
  }
  .pickup .pickup__info--turnbtns .pickup__info--turnbtn-btn {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #0887A0;
    text-align: center;
  }
  .pickup .pickup__info--turnbtns .pickup__info--turnbtn-btn i {
    line-height: 52px;
    font-size: 25px;
    color: #0887A0;
  }
  .pickup .pickup__contects {
    gap: 32px;
  }
  .pickup .pickup__contects li a .date {
    font-size: 2rem;
  }
  .pickup .pickup__contects li a .category {
    font-size: 1.8rem;
    margin-left: 12px;
  }
  .pickup .pickup__contects li a .pickup__contects--title {
    font-size: 2.8rem;
    margin-top: 8px;
  }
  .pickup .pickup__contects li a .pickup__contects--go {
    width: 64px;
    height: 64px;
    font-size: 4rem;
    line-height: 64px;
    bottom: 32px;
  }
  .pickup .pickup__contects li a .pickup__contects--txt {
    bottom: 16px;
    font-size: 1.8rem;
    width: 216px;
  }
  .pickup .pickup__contects li a .pickup__contects--imgset .pickup__contects--cover {
    width: 296px;
    height: 346px;
  }
  .pickup .pickup__contects li a .pickup__contects--imgset .pickup__contects--img {
    width: 296px;
    height: 346px;
  }
  .news {
    max-width: 1440px;
    margin: 0px auto;
    padding: 120px 13% 114px;
  }
  .news ul {
    margin-top: 56px;
  }
  .news ul li {
    margin-bottom: 34px;
  }
  .news ul li::after {
    margin-top: 34px;
  }
  .news ul li a .news__contects--top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 66px;
  }
  .news ul li a .date {
    font-size: 1.8rem;
    margin-right: 0px;
  }
  .news ul li a .category {
    font-size: 1.6rem;
    padding: 4px 24px;
  }
  .news ul li a h4 {
    margin-top: 0px;
    font-size: 1.8rem;
  }
  .news .news__btn {
    padding: 10px 22px;
    font-size: 2rem;
    width: 304px;
    margin: 60px auto;
  }
  .news .news__background {
    display: none;
  }
  .howtoenjoy {
    padding: 136px 0 76px;
  }
  .howtoenjoy h3 {
    top: -24px;
  }
  .howtoenjoy .howtoenjoy__list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 32px;
  }
  .howtoenjoy .howtoenjoy__list ul .howtoenjoy__list--item span {
    font-size: 3.2rem;
    padding: 12px;
    left: 50%;
    -webkit-transform: translateX(-170%);
            transform: translateX(-170%);
  }
  .howtoenjoy .howtoenjoy__list ul .howtoenjoy__list--item img {
    height: 362px;
  }
  .howtoenjoy .spbr {
    display: none;
  }
  .aquariumcreatures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 76px 5% 54px;
    background-size: 100%;
    background-position: bottom;
    height: 765px;
  }
  .aquariumcreatures .title, .aquariumcreatures .subtitle {
    text-align: left;
  }
  .aquariumcreatures .aquariumcreatures__info--wave {
    height: 90px;
    width: 90px;
    margin-bottom: 52px;
  }
  .aquariumcreatures .aquariumcreatures__circle-layout {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 850px;
    /* 根據設計稿，設定一個適合手機版的大小 */
    height: 684px;
    margin: 40px auto;
  }
  .aquariumcreatures .aquariumcreatures__circle-layout .aquariumcreatures__main-itemset {
    width: 420px;
    height: 420px;
    top: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .aquariumcreatures .aquariumcreatures__circle-layout .aquariumcreatures__item--txt {
    font-size: 2.4em;
  }
  .aquariumcreatures .aquariumcreatures__circle-layout .aquariumcreatures__list {
    position: absolute;
    top: 50%;
    left: 50%;
    /* 讓 ul 本身置中，但不會影響子元素的定位計算 */
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .aquariumcreatures .aquariumcreatures__circle-layout .aquariumcreatures__list .aquariumcreatures__item {
    position: absolute;
    /* 讓每個 li 可以獨立定位 *
    /* 小圓圖的尺寸 */
    background-color: #0887A0;
    border-radius: 50%;
    overflow: hidden;
  }
  .aquariumcreatures .aquariumcreatures__circle-layout .aquariumcreatures__list .aquariumcreatures__item.small1 {
    width: 264px;
    height: 264px;
    left: -470px;
    bottom: -100px;
  }
  .aquariumcreatures .aquariumcreatures__circle-layout .aquariumcreatures__list .aquariumcreatures__item.small2 {
    width: 200px;
    height: 200px;
    left: -270px;
    bottom: -250px;
  }
  .aquariumcreatures .aquariumcreatures__circle-layout .aquariumcreatures__list .aquariumcreatures__item.small3 {
    width: 190px;
    height: 190px;
    left: -50px;
    bottom: -270px;
  }
  .aquariumcreatures .aquariumcreatures__circle-layout .aquariumcreatures__list .aquariumcreatures__item.small4 {
    width: 190px;
    height: 190px;
    left: 140px;
    bottom: -190px;
  }
  .aquariumcreatures .aquariumcreatures__circle-layout .aquariumcreatures__list .aquariumcreatures__item.small5 {
    width: 135px;
    height: 135px;
    left: 270px;
    bottom: -20px;
  }
  .aquariumcreatures .aquariumcreatures__spbtn {
    display: none;
  }
  .aquariumcreatures .aquariumcreatures__pcbtn {
    display: block;
  }
  .aquariumcreatures a {
    line-height: 1.2;
  }
  .aquariumcreatures a .aquariumcreatures__info--btn {
    width: 185px;
    height: 185px;
    border: 12px solid #D5E7F2;
    padding: 32px;
    margin: 136px auto 0px 0px;
  }
  .aquariumcreatures a .aquariumcreatures__info--btn .nor {
    font-size: 2rem;
  }
  .aquariumcreatures a .aquariumcreatures__info--btn .big {
    font-size: 3.6rem;
  }
  .aquariumcreatures a .aquariumcreatures__info--btn i {
    margin-top: 8px;
    font-size: 3.2rem;
  }
  .address {
    max-width: 1440px;
    margin: 0px auto;
    padding-left: 5%;
  }
  .address .address__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .address .address__wave {
    height: 90px;
    width: 90px;
  }
  .address .title, .address .subtitle {
    text-align: left;
  }
  .address .address__info {
    text-align: left;
    margin: 0px;
    padding: 0px;
  }
  .address .address__info .ddress__smalltitle {
    font-size: 2rem;
  }
  .address .address__info .place {
    margin: 76px 0px 32px;
  }
  .address .address__info .place span {
    font-size: 1.8rem;
  }
  .address .address__info .tel span {
    font-size: 3.6rem;
  }
  .address .address__map iframe {
    height: 435px;
    width: 920px;
    margin-left: 40px;
    border-radius: 30px 0px 0px 30px;
  }
  .address .address__btnlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 60px;
  }
  .address .address__btnlist a .address__btn {
    padding: 16px 50px;
    width: 100%;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 24px;
  }
  .address .address__btnlist a .address__btn .address__btn--txt {
    font-size: 2.4rem;
    line-height: 58px;
  }
  .last {
    max-width: 1440px;
    margin: 0px auto;
    padding: 120px 5%;
  }
  .last ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
  }
  .last ul li {
    height: 455px;
    width: 405px;
    margin: auto;
    background-repeat: no-repeat;
  }
  .last ul li h4 {
    font-size: 3.2rem;
    margin: 12px 0px auto 20px;
  }
  .last ul li span {
    font-size: 4rem;
    width: 77px;
    height: 77px;
    border: 3px solid #0887A0;
    line-height: 77px;
    margin: 310px 0px 0px auto;
  }
  .last ul .last__shisetsu {
    background-image: url(../img/Subtract-PC1.png);
  }
  .last ul .last__event {
    background-image: url(../img/Subtract-PC2.png);
  }
  .last ul .last__kenkyu {
    background-image: url(../img/Subtract-PC3.png);
  }
}/*# sourceMappingURL=main.css.map */